# ignore node files
node_modules/

# ignore IDEA workspace file
.idea/*.*

# ignore private settings
data/private-settings.json

# ignore log files
*.log

# ignore debug image processing images
assets/processing

yarn.lock
